In [1]:
import pandas as pd 
import numpy as np

In [2]:
path = "C:\\sebin\\check\\segment"

In [3]:
sPath = path+"\\s.csv"
vPath = path+"\\v.csv"

In [18]:
s = pd.read_csv(sPath,names=['ann'])

In [19]:
s

     ann
0      N
1      S
2      S
3      S
4      S
...   ..
2446   S
2447   S
2448   S
2449   S
2450   S

[2451 rows x 1 columns]

In [16]:
v = pd.read_csv(vPath,names=['ann'])

In [17]:
v

     ann
0      S
1      V
2      S
3      V
4      V
...   ..
3505   V
3506   V
3507   V
3508   V
3509   V

[3510 rows x 1 columns]

# S / 모든 데이터 
# 0.89%    /   0.93%
- 중간에 r peak 중심으로 안잡힌 경우 ㅇ (100개?)
----------
## 총 2,361
## true : 2108 / false:343(-100)

In [20]:
s.value_counts()

ann
S      2108
N       312
V        31
dtype: int64

# V / 데이터 반 
## 0.97 % 
- 앞부분 r peak 안맞춰진 경우 ㅇ (10)
-----------
## 총 3510
## true : 3408 / false: 102(10)

In [21]:
v.value_counts()

ann
V      3408
N        52
S        50
dtype: int64