In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd 

import tensorflow as tf
import keras as kr
from keras import Sequential
from keras.layers import Conv1D,pooling,Flatten,Dense

import os 
import pickle 

from datamake import ecg_dataframe

In [8]:
#data get

In [9]:
x ,y = ecg_dataframe("Z:\KIMSEBIN\deep\learning\data")

In [10]:
x

,0,1,2,3,4,5,6,7,8,9,...,278,279,280,281,282,283,284,285,286,287
1,-0.225,-0.230,-0.240,-0.240,-0.240,-0.220,-0.220,-0.220,-0.225,-0.240,...,-0.345,-0.350,-0.345,-0.350,-0.340,-0.345,-0.350,-0.355,-0.350,-0.330
2,-0.310,-0.295,-0.295,-0.300,-0.310,-0.305,-0.310,-0.305,-0.295,-0.300,...,-0.330,-0.335,-0.335,-0.345,-0.340,-0.335,-0.325,-0.330,-0.340,-0.340
3,-0.320,-0.315,-0.310,-0.335,-0.325,-0.335,-0.315,-0.330,-0.320,-0.335,...,-0.335,-0.350,-0.340,-0.335,-0.330,-0.335,-0.325,-0.330,-0.320,-0.320
4,-0.290,-0.285,-0.280,-0.280,-0.285,-0.295,-0.285,-0.285,-0.290,-0.280,...,-0.315,-0.325,-0.330,-0.340,-0.320,-0.315,-0.305,-0.310,-0.315,-0.320
5,-0.275,-0.275,-0.280,-0.290,-0.290,-0.280,-0.280,-0.270,-0.280,-0.295,...,-0.340,-0.345,-0.330,-0.330,-0.330,-0.320,-0.340,-0.340,-0.325,-0.305
6,-0.270,-0.290,-0.290,-0.285,-0.275,-0.270,-0.285,-0.290,-0.305,-0.295,...,-0.305,-0.290,-0.295,-0.285,-0.305,-0.325,-0.325,-0.330,-0.310,-0.315
7,-0.285,-0.280,-0.285,-0.285,-0.280,-0.290,-0.300,-0.295,-0.280,-0.280,...,-0.285,-0.285,-0.290,-0.300,-0.310,-0.305,-0.295,-0.290,-0.290,-0.295
8,-0.260,-0.260,-0.260,-0.230,-0.240,-0.230,-0.245,-0.240,-0.245,-0.250,...,-0.310,-0.290,-0.300,-0.310,-0.310,-0.315,-0.310,-0.290,-0.285,-0.290
9,-0.275,-0.275,-0.270,-0.255,-0.250,-0.255,-0.265,-0.265,-0.265,-0.260,...,-0.275,-0.270,-0.270,-0.285,-0.275,-0.280,-0.275,-0.275,-0.270,-0.275

In [12]:
y

   0
1  N
2  N
3  N
4  N
5  N
6  N
7  N
8  N
9  N

In [14]:
model = Sequential()

In [ ]:
model.add(Conv1D(128,6,input_shape=(288,1),activation=''))
model.add(pooling(pool_size=2))
model.add(Conv1D(128,6,activation=''))
model.add(pooling(pool_size=2))
model.add(Flatten())
model.add(Dense(5,activation=))